body {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvasCont {
    width: 100vw;
    height: 100vh;
}

#controlsCont {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}
#controlsCont button {
    font-size: large;
    padding: 4px 12px;
}

#glCanvas {
    touch-action: none;
}